body {
    background-color: #0099ff;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0) 20%);
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
}
