body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3498db;
    margin: 0;
}

.heart-pattern {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Adjust columns */
    grid-gap: 30px; /* Adjust spacing between hearts */
}

.heart {
    background-color: #0099ff;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0) 20%);
    background-size: 80px 80px;
}
